<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.6.1" />
		<httpRuntime targetFramework="4.6.1" />
	</system.web>
	<system.webServer>
		<httpErrors errorMode="Detailed" />
		<asp scriptErrorSentToBrowser="true" />
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
</configuration>